.title-wrapper {
  padding: 20px 20px 30px 20px;
  background-image: url('../../../assets/images/detail-bg.png');
  background-size: 100% 100% ;
}

.swiper-img{
  width: 230px;
  height: 130px;
}

.title {
  font-size: 20px;
  color: #00162B;
  font-weight: bold;
  margin-bottom: 14px;
}

.subtitle {
  font-size: 12px;
  color: #B9BBBE;
  margin-bottom: 6px;
}
